// include config on process settings
includeConfig '/home/ubuntu/tools/extra/tmp-work/github/diffMeth/nextflow/conf/process.conf'


profiles {
    standard {
        //process.container = 'nextflow/rnaseq-nf'
        docker {
            runOptions='-u $(id -u):$(id -g)'
            enabled=false
            }
        params.outdir = "results"
        params.tracedir = "${params.outdir}/trace"
        env {
            PATH="/home/ubuntu/tools/extra/tmp-work/github/bioinfo-tools/nextflow/bin:\$PATH"
        }
    }

    batch {
        params {
            // the referred environment variables need predefined
            //awsQueue = 'arn:aws:batch:us-east-1:<account-id>:job-queue/<queue-name>'
            // read these two from environment variables
            awsQueue = "$batchQueue"
            container = "$batchContainer"
        }
        //process.container = 'nextflow/rnaseq-nf:latest'
        // the container can be hosted at public repos or AWS ECR
        process.container = params.container
        process.executor = 'awsbatch'
        process.queue = params.awsQueue
        params.outdir = 'batch_res'
        params.tracedir = "batch_res/trace"
        workDir = 's3://zymo-filesystem/tmp/ZZ/nf-wdir' // required
        aws.region = params.awsRegion
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        aws.batch.maxParallelTransfers = 10
        aws.batch.maxTransferAttempts = 2
    }
}

// record execution details
timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}

report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}

dag {
    enabled = true
    file = "${params.tracedir}/execution_dag.svg"
}


